{{ define "main" }}

<div class="container">
    <section class="my">
        <div class="content">
            {{ with .Content }}
            {{ . }}
            {{ end }}
            <div class="bio-social">
                {{ range $name, $path := $.Param "socialOptions" }}
                {{ if (and $path (ne $name "email")) }}
                <a href="{{ $path | safeURL }}" target="_blank" rel="noreferrer" title="{{ $name }}"
                    aria-label="{{ $name }}">
                    {{ partial (print "svgs/social/" $name ".svg") (dict "width" 25 "height" 25) }}
                </a>
                {{ end }}
                {{ if (and $path (eq $name "email")) }}
                <a href="mailto:{{ $path | safeURL }}" target="_blank" rel="noreferrer" title="{{ $path }}"
                    aria-label="{{ $name }}">
                    {{ partial (print "svgs/social/" $name ".svg") (dict "width" 25 "height" 25) }}
                </a>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </section>
</div>

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $projects := where .Site.RegularPages "Section" "projects" }}
{{ $pages = .Paginate ($pages)  }}
{{ $archivesPage := first 1 (where .Site.RegularPages "Layout" "eq" "archives") }}

<div class="container">
    <section>
        <h2>
            近期文章
            {{ range $archivesPage }}
            <a class="section-button" href="{{ .RelPermalink }}">查看更多</a>
            {{ end }}
        </h2>
        <div class="posts">
            {{ range $pages.Pages }}
            <div class="post">
                <a href="{{ .RelPermalink }}">
                    <div class="post-row">
                        <time>{{ .Date.Format "1月02日" }}</time>
                        <h3>{{ .Title }}</h3>
                    </div>
                    <!--<div class="new-post">New!</div>-->
                </a>
            </div>
            {{ end }}
        </div>
    </section>
    {{ if gt (len $projects) 0}}
    <section>
        <h2>我的作品</h2>
        <div class="projects">
            {{ range $projects.ByWeight }}
            <div class="project">
                <div>
                    <a href="{{ .Params.link }}" target="_blank" rel="noreferrer">
                        <div style="
    width: 60px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    overflow: hidden;
    object-fit: cover;
    margin-right: 15px;
                        ">
                            <!-- {{ .Params.icon }} -->
                            <img src="1111.jpeg" />
                        </div>
                        <div style="
flex: 1 1 0%;
    min-width: 0px;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    justify-content: center;
                        ">
                            <h3>{{ .Title }}</h3>
                            <div class="description" style="font-size: 14px">2022~2014，不再维护</div>
                        </div>
                    </a>
                    <div class="description">{{ .Params.description }}{{ .Content }}</div>
                </div>
                {{ if .Params.repo }}
                <div class="flex">
                    <a href="{{ .Params.repo }}" class="button" target="_blank" rel="noreferrer">Source</a>
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </section>
    {{ end }}
</div>

{{ end }}